.aboutimg{
    height:600px;
}
@media screen and (max-width: 800px){
    .aboutSection{
        width:60% !important;
        height: 300px !important;
        margin-left:20% !important;
        
    }
    .aboutText{
        width:90% !important;
        margin-left:5% !important;
        position: relative !important;
    }
    .text{
        font-size: large;
    }
    .aboutimg{
        height:300px;
    }
}